#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define FN 1
#define SYS 2

#define ___ &trans
#define XXX &none

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEF";
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                &kp N6  &kp N7 &kp N8    &kp N9     &kp N0     &kp MINUS
&kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T                 &kp Y   &kp U  &kp I     &kp O      &kp P      &kp BSLH
&kp ESC   &kp A  &kp S  &kp D  &kp F  &kp G                         &kp H   &kp J  &kp K     &kp L      &kp SEMI   &kp SQT
&kp FN &kp Z  &kp X  &kp C  &kp V  &kp B  &kp C_MUTE  &kp F13 &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH   &kp RALT
                  &kp LSHFT &mo SYS &kp LCTRL &kp SPACE                      &kp RET &mo RSHFT &kp BSPC &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>, <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        fn_layer {
            display-name = "FN";
            bindings = <
&kp TILDE &kp F1   &kp F2   &kp F3    &kp F4   &kp F5                  &kp F6    &kp F7   &kp F8   &kp F9    &kp F10  ___
___       &kp F11  &kp F12  ___       ___      ___                     &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR ___
___       ___      ___      ___ &kp C_MUTE &kp C_VOL_UP                 &kp LEFT  &kp DOWN &kp UP    &kp RIGHT &kp PSCRN ___
___       &kp EXCL &kp AT   &kp HASH  &kp DLLR &kp PRCNT &kp C_MUTE ___ &kp HOME &kp PG_UP &kp PG_DN &kp END &kp INS ___
                    ___      ___       ___      ___                           ___      ___      ___      ___
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>, <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        sys_layer {
            display-name = "SYS";
            bindings = <
___       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR             ___     ___ ___ ___ ___ ___
___       ___          ___          &studio_unlock ___       &bootloader             &bootloader ___ &studio_unlock ___ ___ ___
___       ___          ___          ___          ___          &sys_reset                      &sys_reset  ___ ___ ___ ___ ___
___       ___          ___          ___          ___          ___        ___  ___      ___     ___ ___ ___ ___ ___
                         ___          ___          ___          ___                       ___     ___ ___ ___
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>, <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };
    };
};
